@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap");

@font-face {
  font-family: "Amandine";
  src: url("./fonts/Amandine.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "redHatText";
  src: url("./fonts/RedHatText.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  @apply font-redHatText bg-white text-black antialiased;
}

/* RTL/LTR support using global HTML dir */
html[dir="rtl"] body {
  direction: rtl;
  text-align: right;
}

html[dir="ltr"] body {
  direction: ltr;
  text-align: left;
}
